* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#formdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  background-color: rgb(27, 27, 27);
  overflow: hidden;
}
#form {
  margin-top: 6%;
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  background-color: rgb(52, 51, 51);
  border-radius: 2rem;
}
#email,
#name,
#HouseSelect {
  border-radius: 2rem;
  width: 80%;
  height: 20%;
}
#submit {
  width: 60%;
  height: 30%;
  background-color: rgb(91, 89, 89);
  color: white;
}
#intro {
  color: white;
  font-size: 40px;
}
@media (max-width: 320px) {
  #formdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 27, 27);
  }
  #form {
    margin-top: 6%;
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: rgb(52, 51, 51);
    border-radius: 2rem;
  }
}
